/* ==========================================================================
   MAIN LOGO
   ========================================================================== */

.c-logo-main {
  position: absolute;
  top: 10px;
  z-index: z(default);
  @media(width >= $bp-medium) {
  top: 10px;
  } 
  & a {
    display: block;
  }
  & img {
    display: block;
    width: 200px;
    height: auto;
    max-height: var(--page-header-height);
    @media (width >= $bp-medium) {
      width: 290px;
     } 
  }
}
