/* ==========================================================================
   OVERRIDES - hacks and styles of last resort live here
   ========================================================================== */

// ideally this file is forever blank. likely it won't be. :(
.wpgb-facet-4.wpgb-facet .wpgb-reset {
   border: 2px solid var(--color-coral);
   border-radius: 5px;
   padding: 5px 10px !important;
   background: transparent;
   transition: var(--transition-ease);
   color: var(--Wine, #51141B);
text-align: center;

font-size: 14px;
font-style: normal;
font-weight: 500;
   &:hover {
     background: var(--color-coral);
     color: #fff !important;
   }
}

.wpgb-facet .wpgb-button[aria-pressed="true"] {
   border-radius: 5px;
border: 1.5px solid var(--Blush, #F4D5D9) !important;
background:transparent !important;
color: var(--color-wine) !important;
.wpgb-button-control {
   color: var(--color-coral) !important;
}
}

.wpgb-facet .wpgb-button .wpgb-button-control {
     color: var(--color-coral) !important;
     &::after, &::before {
       background: var(--color-coral) !important;
     }
}

.wpgb-facet.wpgb-facet-5 button {
   background: transparent !important;
   color: var(--color-wine) !important;
   font-size: 16px;
   padding-left: 0 !important;
   padding-right: 0 !important;
font-weight: 500;
}

.wpgb-facet .wpgb-checkbox-facet .wpgb-checkbox[aria-pressed="true"] .wpgb-checkbox-control {
  background:  var(--color-coral) !important;
  border-color: var(--color-coral) !important;
}

.c-accordion-lightbg .gb-accordion__toggle .gb-accordion__toggle-icon svg path {
stroke: var(--color-darkest);
}